@model IEnumerable<Domain.Entities.User>

@{
    ViewBag.Title = "Users";
    var tasks = ViewBag.TaskCount;
}

<h2>Users</h2>

<p>
    @Html.ActionLink("Create New", "Register")
</p>
@if (ViewBag.InactiveUsers != 0)
{
<h3 style="font-weight:bold">Pending...</h3>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Role)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Where(x => x.IsActive == false))
    {
        <tr>
            <td>
                @Html.ActionLink(item.Email, "UserTask", "Task", new { email = item.Email }, null)
                @*@Html.DisplayFor(modelItem => item.Email)*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                <form method="post" action="~/Account/Activate/@item.ID" style="display:inline-block">
                    <input type="submit" value="Activate" class="btn btn-link" />
                </form>
            </td>
        </tr>
    }

</table>
}
<br />

<h3 style="font-weight:bold">Active</h3>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Role)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreated)
        </th>
        <th>
            Number of tasks
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th></th>
    </tr>

@foreach (var user in Model.Where(x=>x.IsActive == true)) {
    <tr>
        <td>
            @Html.ActionLink(user.Email, "UserTask", "Task", new { email = user.Email}, null)
            @*@Html.DisplayFor(modelItem => item.Email)*@
        </td>
        <td>
            @Html.DisplayFor(modelItem => user.Role)
        </td>
        <td>
            @Html.DisplayFor(modelItem => user.DateCreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => user.Tasks.Count)
        </td>
        <td>
            @Html.DisplayFor(modelItem => user.IsActive)
        </td>
        <td>
            <form method="post" action="~/Account/Deactivate/@user.ID" style="display:inline-block">
                <input type="submit" value="Deactivate" class="btn btn-link"/>
            </form>
            @*@Html.ActionLink("Deactivate", "Delete", new { id=item.ID })*@
            @Html.ActionLink("Edit", "Edit", "Account", new { id = user.ID }, null)
        </td>
    </tr>
}

</table>