@model IEnumerable<HotelApp.Domain.Entities.Floor>
@using HotelApp.Domain.Entities

@{
    ViewBag.Title = "Floors";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="page-header">Floors</h1>
<ol class="breadcrumb">
    <li class="active">
        <i class="fa fa-dashboard"></i><a href="~/Admin"> Dashboard</a>&nbsp /&nbsp <i class="fa fa-arrows-alt"></i> Floors
    </li>
</ol>
<p>
    @*@Html.ActionLink("Create Floor", "CreateFloor")*@
    @*<a href="~/Admin/CreateFloor"><h4>Create Floor</h4></a>*@
    <button id="createFloor" class="btn btn-link createFloor">Create Floor</button>
</p>
<br />
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FloorNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfRooms)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>Actions</th>
        </tr>
    </thead>

@foreach (var item in Model) {
    <tr>
        <td style="display:none">
            @Html.DisplayFor(modelItem => item.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FloorNo)
        </td>
        <td>
            @if (item.IsActive == true)
            {
                @Html.ActionLink(item.NumberOfRooms.ToString(), "Rooms", "Admin", new { id = item.ID }, null) <i class="fa fa-bed" aria-hidden="true"></i>
            }
            else
            {
                @Html.DisplayFor(modelItem => item.NumberOfRooms) <i class="fa fa-bed" aria-hidden="true"></i>
            }           
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
           <button class="btn btn-link editFloor" id="@item.ID">Edit</button>
            @if (item.IsActive)
            {
                <button class="btn btn-link deactivateFloor" id="@item.ID">Deactivate</button>
            }
            else
            {
                <button class="btn btn-link activateFloor" id="@item.ID">Activate</button>
            }

        </td>
    </tr>
}

</table>


<div id="editFloor">
    <form id="floorFormEdit" title="Update Floor">
        @Html.AntiForgeryToken()
        <br />
        <br />
        <div class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-md-5">Floor Number</label>
                <div class="col-md-5">
                    <input type="text" class="form-control" id="floorNoEdit" name="floorNoEdit" readonly/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-5">Number of Rooms</label>
                <div class="col-md-5">
                    <input type="text" class="form-control" id="roomsQuantityEdit" name="roomsQuantityEdit" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-5">Active</label>
                <div class="col-md-5">
                    <div class="checkbox">
                        @Html.CheckBox("IsActiveFloorEdit")
                    </div>
                </div>
            </div>
            <div class="form-group hidden">
                <label class="control-label col-md-2">Id</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="floorIdEdit" name="floorIdEdit" />
                </div>
            </div>
        </div>
    </form>
</div>
